[submodule "docs/hugo/book-theme/themes/book"]
	path = docs/hugo/book-theme/themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "docs/hugo/learn-theme/themes/hugo-theme-learn"]
	path = docs/hugo/learn-theme/themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn
